body {
  font-family: Arial, Helvetica, sans-serif;
}

.input-div {
  margin: 5px;
}

.input-div input, .input-div-normal input {
  margin-right: 10px;
  height: 26px;
  width: 292px;
  border: 1px solid gray;
  padding-left: 5px;
}

.input-div button {
  padding: 5px;
  width: 100px;
}

.input-div input.number {
  width: 40px;
}

.floating-center {
  width: 300px;
  height: 200px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right:auto;
  margin-top: 200px;
  /*margin-bottom: auto;*/
}

.floating-center .input-div {
  margin-left: 0px;
}

.error-status {
  color: red;
}

.pretty-table td, th {  
  border: 0px solid transparent; /* No more visible border */
  height: 30px;
  padding-right: 30px;
  text-align: left;
}

.pretty-table tr:nth-child(even) td { 
  background: #F1F1F1;
} 

.pretty-table tr:nth-child(odd) td {
  background: #FEFEFE; 
}