<button routerLink="/dashboard">Dashboard</button>
<h2>Matches</h2>
<h3 *ngIf="mode=='NEW'">New Match</h3>
<h3 *ngIf="mode=='EDIT'">Edit Match #{{ selectedMatch.id }}</h3>
<datalist id="team_name_suggestions">
  <option *ngFor="let t of $teams | async" value="{{ t.id }}">{{ t.id }} - {{ t.name }}</option>
</datalist>
<datalist id="tour_name_suggestions">
  <option *ngFor="let t of $tournaments | async" value="{{ t.id }}">{{ t.region }} {{ t.split }} {{ t.year }}</option>
</datalist>
<div *ngIf="isMatchSelected">
  <div class="input-div">
    <input type="text" list="tour_name_suggestions" [(ngModel)] = "selectedMatch.tournament" placeholder="Tournament ID">
  </div>
  <div class="input-div">
    <input type="text" [(ngModel)]="selectedMatch.week" placeholder="Week">
  </div>
  <div class="input-div">
    <input type="number" [(ngModel)]="selectedMatch.gameCount" placeholder="Game Count">
  </div>
  <div class="input-div">
    <input type="text" list="team_name_suggestions" [(ngModel)] = "selectedMatch.teamOne" placeholder="Team One">
  </div>
  <div class="input-div">
    <input type="text" list="team_name_suggestions" [(ngModel)] = "selectedMatch.teamTwo" placeholder="Team Two">
  </div>
  <div class="input-div">
    <button (click)="submit()">Save</button>
  </div>
</div>

<div *ngIf="mode!='NEW'" class="input-div">
  <button (click)="prepNewMatch()">New Match</button>
</div>

<table class="pretty-table" cellspacing="0" cellpadding="0">
  <tr>
    <th>ID</th>
    <th>Tournament</th>
    <th>Week</th>
    <th>Game Count</th>
    <th>Team One</th>
    <th>Team Two</th>
  </tr>
  <tr *ngFor="let m of $matches | async" (click)="selectMatch(m)">
    <td>{{ m.id }}</td>
    <td>{{ m.tournament }}</td>
    <td>{{ m.week }}</td>
    <td>{{ m.gameCount }}</td>
    <td>{{ m.teamOne }}</td>
    <td>{{ m.teamTwo }}</td>
  </tr>
</table>
  