<div class="floating-center">
  <h2>LeagueStats Admin Portal</h2>
  <div class="input-div">
      <input type="text" [(ngModel)]="username" placeholder="Username">
  </div>
  <div class="input-div">
      <input type="password" [(ngModel)]="password" placeholder="Password">
  </div>
  <div class="input-div error-status" *ngIf="status">
          <span>{{ status }}</span>
  </div>
  <div class="input-div">
      <button id="login-button" class="input-div" (click)=onSubmit()>Login</button>
  </div>
</div>