<button (click)="logout()">Logout</button>
<button routerLink="/edit-match">View/Edit Matches</button>
<table>
  <tr>
    <th>Dataset</th>
    <th>Count</th>
  </tr>
  <tr *ngFor="let elem of datasetCounts">
    <td>{{ elem.name }}</td>
    <td>{{ elem.count }}</td>
  </tr>
</table>